/*
  Originally based on Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog (MIT)
 */

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary via-secondary to-accent;
  background-size: 200% auto;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
